@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@500;700&display=swap');

* {
    font-family: Tillana, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Skranji, Tillana, sans-serif;
    font-weight: 400;
    color:#0F1A20;
}

header {
    display: flex;
    background-color: #8FB339;
    height: 60px;
    align-items: center;
}

h1 {
    /* padding: 0.5rem 0; */
    font-size: 50px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
}

nav ~ div {
    display: flex;
    flex-basis: 40%;
}

nav a {
    padding: 0.5rem 2rem;
}