@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@500;700&display=swap');

/* generic */

* {
    font-family: Tillana, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Skranji, Tillana, sans-serif;
    font-weight: 400;
    color: #37371F;
}

.right-align {
    text-align: right;
}

/* header title & navigation links */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #37371F;
    width: 100%;
    justify-content: flex-start;
}

/* navigation links */

nav {
    display: flex;
    padding: 0.5rem 0;
    justify-content: flex-start;
    /* width: 35%; */
    align-items: center;
}

nav a {
    border: 2px solid #F4FFF8;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    text-decoration: none;
    background-color: #37371F;
    color: #F4FFF8;
    font-weight: 700;
    font-size: 20px;
    font-family: Skranji, Tillana, sans-serif;
}

nav a:hover, .active {
    color: #37371F;
    background-color: #F4FFF8;
}

/* title */

nav ~ div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    width: 65%;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    color: #F4FFF8;
    font-size: 60px;
    margin-top: 1rem;
    position: absolute;
}

header img {
    height: 60px;
    margin-right: 33rem;
}

/* hero image */

#hero-image-box {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

/* Image by <a href="https://pixabay.com/users/timhill-5727184/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2443093">Tim Hill</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2443093">Pixabay</a> */

#hero-image {
    height: inherit;
    background-image: url(../images/hero-image.jpg);
    background-position: left bottom;
    background-size: auto;
    background-repeat: no-repeat;
    animation-name: hero-diagonal-move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* hero image animation - Slow image pan from left to right */

@keyframes hero-diagonal-move {
    0%   {background-position: left bottom;}
    100% {background-position: right center;}
}

/* welcome section */

#welcome-section {
    background-color: #37371F;
    color: #F4FFF8;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

#welcome-section h3 {
    color: #F4FFF8;
}

.welcome-section-heading {
    color: #F4FFF8;
    font-size: 30px;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

/* welcome section text */

#welcome-section-text-one {
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

#welcome-section-text-one h2, #welcome-section-text-two h2 {
    margin-left: 2rem;
}

#welcome-section-text-one p, #welcome-section-text-two p {
    margin: 1rem 0 1rem 2rem;
    font-size: 20px;
}

#welcome-section-text-two {
    display: flex;
    width: 100%;
    margin: 1rem;
    padding-bottom: 5rem;
}

#welcome-section-text-extend {
    flex: 6;
}

#welcome-section-text-challenge {
    flex: 4;
    text-align: center;
    margin-right: 2rem;
}

/* welcome section images */

#welcome-section-images {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

#welcome-section-images h2 {
    text-align: center;
}

#welcome-image-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#welcome-image-box div {
    margin: 0.5rem;
}

#welcome-image-box h3 {
    color: #F4FFF8;
    margin-bottom: 0.3rem;
    text-align: center;
}

#welcome-image-box img {
    height: 200px;
    width: 200px;
    border: 5px solid #F4FFF8;
}

/* accommodation section */

#accommodation-section {
    background-color: #F4FFF8;
    color: #37371F;
    display: flex;
    flex-direction: column;
}

#accommodation-section h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-left: 1rem;
}

#accommodation-section img {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
}

.accommodation-box {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.accommodation-box div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid #37371F;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 1rem;
}

.accommodation-box h3 {
    width: 100%;
    font-size: 20px;
    padding-left: 15rem;
    margin-top: 1rem;
}

.accommodation-box p {
    flex: 1;
    margin: 1rem;
}

.accommodation-box hr {
    border: none;
}

.accommodation-box ~ div h3 {
    text-align: right;
    padding-right: 15rem;
}

/* other information */

#other-information-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F371F;
    color: #F4FFF8;
    padding-top: 1rem;
}

#other-information-section hr {
    border: none;
}

#other-information-section h2 {
    color: #F4FFF8;
    font-size: 30px;
    text-decoration: underline;
}

#other-information-section p {
    margin-top: 0.5rem;
}

#other-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

#parking-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: right;
    margin-right: 5rem;
    padding-left: 5rem;
}

#getting-here {
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

#getting-here h2 {
    padding: 0 0 1rem 5rem;
    margin-top: 5rem;
    align-self: flex-start;
}

#getting-here iframe {
    width: 100%;
}

.other-information-box {
    padding: 1rem 0 1rem 0;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #37371F;
    gap: 0.2rem;
}

footer img {
    height: 60px;
    width: 60px;
}

/* social media links */

footer div {
    display: flex;
    align-self: flex-end;
    gap: 4rem;
    padding-bottom: 0.4rem;
}

footer i {
    font-size: 50px;
    color: #F4FFF8;
}

/* media query for screen size 1900px and over */

@media screen and (min-width: 1900px) {

    /* hero image */

    #hero-image {
        background-size: cover;
    }

    /* hero image animation - Slow image pan from left to right */

    @keyframes hero-diagonal-move {
    0%   {background-position: left bottom;}
    100% {background-position: right top;}
    }

    /* welcome section */

    /* welcome section images */

    /* #welcome-image-box img {
        height: 300px;
        width: 300px;
        border: 5px solid #F4FFF8;
    } */

}

/* media query for screen size 1400px and under */

@media screen and (max-width: 1400px) {
    
    /* header title & navigation links */

    header {
        justify-content: center;
    }

    /* navigation links */

    nav {
        order: 2;
        justify-content: center;
    }

    nav ~ div {
        order: 1;
        width: 100%;
    }

    nav a {
        padding: 1rem 2rem;
        margin-bottom: 0.5rem;
    }

}

/* media query for screen size 1250px and under */

@media screen and (max-width: 1250px) {
    
    /* hero image */

    /* hero image animation - Slow image pan from left to right */
    
    @keyframes hero-diagonal-move {
        0%   {background-position: left bottom;}
        100% {background-position: center center;}
    }

    /* welcome section */

    #welcome-section-text-one {
        justify-content: center;
        gap: 5rem;
    }

    #welcome-section-text-two {
        text-align: center;
        gap: 5rem;
    }

    #welcome-section-text-extend {
        flex: 1;
    }
    
    #welcome-section-text-challenge {
        flex: 1;
    }

    /* accommodation section */

    .accommodation-box {
        flex-direction: column;
    }

    .accommodation-box div {
        border: none;
    }

    .accommodation-box hr {
        width: 80%;
        align-self: center;
        border: 1px solid #37371F;
        background-color: #37371F;
    }

    .accommodation-box ~ div div {
        border: none;
    }

    .accommodation-box ~ div h3 {
        text-align: left;
        padding-right: 0;
        padding-left: 15rem;
        order: 1;
    }

    .accommodation-box h3 {
        text-align: left;
        padding-right: 0;
        padding-left: 15rem;
        order: 1;
    }

    .accommodation-box p {
        order: 3;
    }

    .accommodation-box img {
        order: 2;
    }

}

/* media query for screen size 950px and under */

@media screen and (max-width: 950px) {

    /* hero image */

    /* hero image animation - Slow image pan from left to right */
    
    @keyframes hero-diagonal-move {
        0%   {background-position: 0% 80%;}
        100% {background-position: 50% 20%;}
    }

    /* welcome section */

    #welcome-section {
        flex-direction: column;
        gap: 3rem;
    }

    /* welcome section text */

    #welcome-section-text-one {
        padding: 0 2rem 1rem 2rem;
        margin: 0;
        gap: 3rem;
    }

    #welcome-section-text-two {
        flex-direction: column;
        padding: 0 0 3rem 0;
        margin: 0;
        gap: 3rem;
    }

    #welcome-section-images {
        padding: 0;
        margin: 0;
    }

    #welcome-section-text-one h2, #welcome-section-text-two h2 {
        padding: 0;
        margin: 0;
    }

    #welcome-section-text-one p, #welcome-section-text-two p {
        padding: 0;
        margin: 0;
    }

    #welcome-section-text-extend {
        text-align: left;
        padding: 0 2rem;
    }

    #welcome-section-text-challenge {
        text-align: right;
        padding: 0 2rem;
    }

    /* welcome section images */

    #welcome-image-box h3 {
        text-align: center;
    }

    /* other information */

    #other-information-section {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #other-information-section hr {
        align-self: center;
        border: 1px solid #F4FFF8;
        background-color: #F4FFF8;
        width: 60%;
    }

    #other-information-section p {
        padding: 0.5rem 7rem 1rem 7rem;
    }

    #other-information-section h2 {
        padding-top: 0.5rem;
        padding-left: 7rem;
    }

    #other-information {
        margin: 0 1rem;
        text-align: Left;
    }

    #toilets {
        text-align: right;
    }

    #toilets h2 {
        padding-right: 7rem;
        padding-left: 0;
    }

    #toilets p {
        padding-right: 7rem;
        padding-left: 7rem;
    }

    #parking-information {
        margin: 0 1rem;
        text-align: Left;
        padding: 1rem 0;
    }

    #getting-here {
        text-align: Center;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    #getting-here h2 {
        padding-left: 0;
        text-align: center;
        align-self: center;
    }

}

/* media query for screen size 650px and under */

@media screen and (max-width: 650px) {

    /* header title & navigation links */

    /* title */

    h1 {
        position: inherit;
        margin-top: 0.5rem;
        font-size: 30px;
    }

    header img {
        height: 35px;
        margin-right: 17rem;
        position: absolute;
    }    

    /* navigation links */

    nav ~ div {
        order: 1;
        width: 100%;
        margin-left: 10%;
    }

    nav a {
        padding: 1rem 1rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
        font-size: 16px;
    }

    /* hero image */

    #hero-image-box {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

    /* hero image animation - Slow image pan from left to right */

    @keyframes hero-diagonal-move {
        0%   {background-position: 50% 80%;}
        100% {background-position: 50% 20%;}
    }

    /* welcome section */

    /* welcome section text */

    #welcome-section-text-one h2 {
        text-align: center;
        padding-bottom: 1rem;
    }

    #welcome-section-text-one p {
        text-align: center;
    }

    #welcome-section-text-two h2 {
        padding-bottom: 1rem;
    }

    #welcome-section-text-extend {
        text-align: center;
    }

    #welcome-section-text-challenge {
        text-align: center;
    }


    /* welcome section images */

    #welcome-image-box h3 {
        text-align: center;
    }

    /* accommodation section */

    .accommodation-box {
        align-content: center;
    }

    .accommodation-box div {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .accommodation-box h3 {
        text-align: center;
        padding: 0;
        order: 1;
    }

    .accommodation-box p {
        text-align: center;
        order: 2;
    }

    .accommodation-box img {
        align-self: center;
        order: 3;
    }

    .accommodation-box hr {
        width: 60%;
    }

    .accommodation-box ~ div h3 {
        text-align: center;
        padding: 0;
    }

    /* other information */

    #other-information-section p {
        padding: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    #other-information-section h2 {
        padding-left: 0;
        text-align: center;
    }

    #other-information {
        text-align: center;
    }

    #toilets {
        text-align: center;
    }

    #toilets h2 {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    #toilets p {
        padding: 1rem;
        text-align: center;
    }

    #parking-information {
        margin: 0 1rem;
        text-align: Left;
    }

    #getting-here {
        text-align: Center;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    #getting-here h2 {
        padding-left: 0;
    }

     /* footer */

    footer {
        height: 6rem;
    }

    footer img {
        height: 0;
        width: 0;
    }

     /* social media links  */

    footer div {
        align-self: center;
        gap: 2rem;
        padding-bottom: 0;
    }

    footer i {
        font-size: 60px;
    }

}