@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@500;700&display=swap');

* {
    font-family: Tillana, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Skranji, Tillana, sans-serif;
    font-weight: 400;
    color:#0F1A20;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #8FB339;
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav {

}

nav ~ div {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
}

header > nav {
    display: flex;
    justify-content: space-evenly;
}

div ~ nav {
    justify-content: flex-start;
}

nav ~ div img {
    height: 60px;
    margin-right: 32rem;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    margin-top: 1rem;
    position: absolute;
}

nav a {
    padding: 0.5rem 2rem;
}
